# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# download file files
*.aac
*.abw 
*.aspx
*.arc
*.avif
*.avi
*.azw
*.bin
*.bmp
*.bz
*.bz2
*.cda
*.csh
*.css
*.csv
*.doc
*.docx
*.eot
*.epub
*.gz
*.gif
*.htm
*.html
*.ico
*.ics
*.jar
*.jpeg
*.jpg
*.js
*.json
*.jsonld
*.mid*
.midi
*.mjs
*.mp3
*.mp4
*.mpeg
*.mpkg
*.odp
*.ods
*.odt
*.oga
*.ogv
*.ogx
*.opus
*.otf
*.png
*.pdf
*.php
*.ppt
*.pptx
*.rar
*.rtf
*.sh
*.svg
*.tar
*.tif
*.tiff
*.ts
*.ttf
*.txt
*.vsd
*.wav
*.weba
*.webm
*.webp
*.woff
*.woff2
*.xhtml
*.xls
*.xlsx
*.xml
*.xul
*.zip
*.3gp
*.3g2
*.7z
*.tex